* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}
header {
  background-color: #0020f4;
  padding: 50px;
}

a {
  color: white;
  font-family: "DejaVu Sans Condensed Bold", sans-serif;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

.img-block {
  width: 300px;
  position: relative;
  margin: 30px auto;
  display: inline-block;
  margin-left: 110px;
}

.img-block p {
  position: absolute;
  left: 15%;
  width: 80%;
  bottom: 10%;
  background-color: #ffffff;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  opacity: 1;
  backdrop-filter: blur(10px);
  font-family: "DejaVu Sans Condensed Bold", sans-serif;
  -webkit-backdrop-filter: blur(10px);
}

.img-block img {
  width: 100%;
  margin: 10px;
}

.p-2 {
  margin-left: 100%;
  margin-left: 1040px;
  margin-top: 90px;
}
